.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__window {
  width: 50%;
  margin: 150px auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include media-tablet {
    width: 80%;
    margin: 100px auto;
  }
}

.modal__content {
  text-align: center;
}

.modal__title {
  font-size: 2.1rem;
  margin: 10px auto;
  @include media-tablet {
    font-size: 1.6rem;
  }
}

.hidden {
 display: none;
}