$color-default: #c3ddef;
$color-bar:#898989;
$color-bar-active:rgb(101, 238, 106);
$color-section: #ffe489;
$color-button:rgb(114, 224, 118);
$color-button-disabled:rgb(174, 207, 175);
$color-hover-button:rgb(101, 238, 106);
$color-active-button:rgb(2, 189, 11);
$color-text:#2c662e;
$color-hover-text:#2c662e;
$color-active-text:#2c662e;

$content-width:1160px;
$desktop-width:1920px;
$tablet-width:640px;
$small-tablet-width:480px;
$mobile-width:320px;